# base de datos
DATABASE_URL="postgresql://[user]:[password]@[host]/[database]?sslmode=require"

# API de IA (DeepSeek)
DEEPSEEK_API_KEY="sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# AXIOM
AXIOM_TOKEN="ABC-xxxxxx"